<div class="insights-content">
    <h4>📊 ניתוח ביצועים</h4>
    <p>המערכת מספקת ניתוח מעמיק של ביצועי המכירות, רווחיות ומלאי.</p>
    
    <h5 class="mt-4">💰 ביצועים פיננסיים</h5>
    <ul>
        <li>ניתוח הכנסות ורווחיות לפי תקופות</li>
        <li>זיהוי מגמות עונתיות</li>
        <li>השוואת ביצועים בין סניפים</li>
    </ul>
    
    <h5 class="mt-4">🏪 ביצועי סניפים</h5>
    <ul>
        <li>זיהוי סניפים מובילים</li>
        <li>ניתוח שולי רווח לפי סניף</li>
        <li>המלצות לשיפור ביצועים</li>
    </ul>
    
    <h5 class="mt-4">📦 ניתוח מוצרים</h5>
    <ul>
        <li>זיהוי מוצרים מובילים</li>
        <li>ניתוח ביצועי קטגוריות</li>
        <li>המלצות לניהול מלאי</li>
    </ul>
    
    <h5 class="mt-4">👥 תובנות לקוחות</h5>
    <ul>
        <li>ניתוח דמוגרפי</li>
        <li>התנהגות קנייה לפי קבוצות גיל</li>
        <li>מגמות הוצאה לפי מגדר</li>
    </ul>
</div>

